{% extends 'cabinet.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block cabinet-content %}
	<div class="form-with-preview">
		<form action="#" method="post">
			{% if messages %}
				{% include 'utils/messages.html' %}
			{% endif %}
			{% csrf_token %}
			{{ form|crispy }}
			<div class="submit-btn">
				<button type="submit" class="twitch-btn">Зберегти</button>
			</div>
		</form>
		<div class="vr"></div>
		<div class="preview-container">
			<h2>Попередній перегляд</h2>
			<div class="preview">
				{% include 'donation_page/viewer_donation_page.html' with donation_page=object form=form %}
			</div>
		</div>

	</div>
{% endblock %}