{% extends 'base.html' %}
{% load formatter %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/viewer_donation_page.css' %}">
{% endblock %}

{% block content %}
	<div class="donation-page-container">
		<div class="donation-page-title-block">
			<h1>{{ donation_page.title }}</h1>
			<p>{{ donation_page.title_subtext }}</p>
		</div>

        <form action="#" method="post">
            <div class="progress-bar">
		        <p>{{ donation_page.target_title|curled_format:donation_page.target_amount }}</p>
            </div>
			{% csrf_token %}
			{{ form|crispy }}
			<div class="submit-btn">
				<button type="submit" class="twitch-btn">{{ donation_page.donate_button_text }}</button>
			</div>
		</form>
	</div>
{% endblock %}