.form-with-preview {
    display: flex;
    justify-content: space-between;
}

.form-with-preview form {
    flex: 0.25;
}

.preview-container {
    flex: 0.7;
}

.preview {
    border: 1px solid #6441a5;
    height: fit-content;
}
