.widgets-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.widget-block {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 10px;
}

.widget-unit {
    display: flex;
    flex-basis: 49%;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: #ffffff;
    background: #1a1a1a;
    border: 1px solid rgba(145, 70, 255, 0.65);
    border-radius: 5px;
    padding: 20px;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
}

.widget-unit:hover {
    border-color: #9146FF;
    background: rgba(26, 26, 26, 0.5);
}

.widget-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
    word-break: break-word;
}

.widget-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.widget-configs-ranges-container {
    overflow-x: auto;
    padding-bottom: 3px;
}

.widget-configs-ranges {
    display: inline-flex;
    gap: 5px;
    white-space: nowrap;
}

.widget-config-range {
    padding: 1px 7px;
    border-radius: 3px;
    border: 1px solid #4b2e80;
    background: #6441a5;
    font-weight: bold;
    min-width: fit-content;
}

.create-widget-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
}

.update-widget-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.update-widget-form {
    max-width: 700px;
}

.donation-configs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px 20px;
    padding-bottom: 50px;
}

.donation-config-alert-container {
    flex-basis: calc(33.33% - 15px);
    min-width: 275px;
    text-decoration: none;
    color: inherit;
}

.donation-config-alert-container > div {
    padding: 10px;
    border: 1px solid #4b2e80;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}

.donation-config-alert-container:hover > div {
    border-color: #9146FF;
}

.donation-config-alert-container h5 {
    text-align: center;
}

.donation-config-alert-container h1 {
    word-break: break-word;
}

.update-widget-config-container {
    display: flex;
    gap: 30px;
}
.update-widget-config-container > div {
    flex-basis: 50%;
}

@media (max-width: 1350px) {
    .widget-info {
        flex-direction: column;
    }

    .widget-info div, .widget-info h2 {
        width: 100%;
    }

    .widget-buttons div:first-child {
        flex: 0.2;
    }

    .donation-config-alert-container {
        flex-basis: calc(50% - 20px); /* 2 items per row */
    }
}

@media (max-width: 1000px) {
    .widget-unit {
        flex-basis: 100%;
    }

    .donation-config-alert-container {
        flex-basis: calc(100% - 20px); /* 1 item per row */
    }
}

