{% load i18n %}

<div class="donation-details">
    <table class="donations-table">
        <tr>
            <th style="width: 10px">{% trans 'Nickname' %}</th>
            <td>{{ donation.nickname }}</td>
        </tr>
        <tr>
            <th>{% trans 'Amount' %}</th>
            <td>{{ donation.amount }}</td>
        </tr>
        <tr>
            <th>{% trans 'Date' %}</th>
            <td>{{ donation.created_at|date:'d.m.Y H:i' }}</td>
        </tr>
        <tr>
            <th>{% trans 'Message' %}</th>
            <td>{{ donation.message }}</td>
        </tr>
    </table>
</div>