{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

<div class="donations" hx-boost="true">
    <a class="collapse-button" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="true" aria-controls="filters">
        <div class="arrow down"></div>
        <span>
            Фільтрування
        </span>
        <hr>
    </a>
    <form hx-target="main" id="filters" class="donations-form collapse show" action="{% url 'donations' %}" method="GET">
        {% crispy filter.form %}
    </form>
    {% include 'donations/donation_list_table.html' %}
</div>
