<div hx-get="{% url 'donations' %}?{{ request.GET.urlencode }}" hx-trigger="every 5s">
    <table class="donations-table">
        <thead>
        <tr>
            <th class="nickname">Нікнейм</th>
            <th class="amount">Сума</th>
            <th class="message">Повідомлення</th>
            <th class="created-at">Дата</th>
        </tr>
        </thead>
        <tbody>
        {% if donations %}
            {% for donation in donations %}
                <tr class="clickable-row" data-href="{% url 'donation_detail' donation.id %}">
                    <td class="nickname">{{ donation.nickname }}</td>
                    <td class="amount">{{ donation.amount }}</td>
                    <td class="message">{{ donation.message|truncatechars:30 }}</td>
                    <td class="created-at">{{ donation.created_at|date:'d.m.Y H:i' }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">Ви бомжик, у вас немає грошиків.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% include 'nav/pagination.html' %}
</div>