{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/donation.css' %}">
    <link rel="stylesheet" href="{% static 'css/donation_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/widget.css' %}">
    <link rel="stylesheet" href="{% static 'css/donation_alert.css' %}">
{% endblock %}

{% block title %}
    {% trans 'Hroshyk' %} - {% trans 'Cabinet' %}
{% endblock %}

{% block content %}
    {% block sidebar %}
        {% include 'nav/sidebar.html' %}
    {% endblock %}
    <main>
        {% block cabinet-content %}{% endblock %}
    </main>
    {% include 'toasts.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/donationPage.js' %}" defer></script>
    <script src="{% static 'js/toasts.js' %}"></script>
{% endblock %}
