{% extends 'cabinet.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/widget.css' %}">
{% endblock %}

{% block cabinet-content %}
	<div class="update-widget-config-container" hx-boost="true">
        <form method="post" enctype="multipart/form-data">
            {{ form|crispy }}
            <button class="twitch-btn" type="submit">Оновити</button>
        </form>
        {% include 'widgets/donation_widget/donation_alert.html' with config=donation_widget_config %}
    </div>
{% endblock %}